<nav class="row alert alert-danger">
    <ul class="list-unstyled d-flex justify-content-between">
        <li><a class="text-decoration-none" href="/">Home</a></li>
        <li><a class="text-decoration-none" href="/">Test</a></li>
        <li><a class="text-decoration-none" href="/">Contact</a></li>
    </ul>
</nav>
