{% extends "base.html.twig"  %}
{% block body %}
    <section class=" my-3">
        <h1 class="text-center text-uppercase fs-1 my-3 text-secondary fw-semibold">Test Your WebPage</h1>
        <div class="d-flex justify-content-center gap-3">
            <a href="pentests/" class="btn btn-primary">Start</a>
            <a href="docs/" class="btn btn-primary">Docs</a>
        </div>
    </section>
    <section>
        
    </section>
{% endblock %}

